@{
    ViewData["Title"] = "Home Page";
    List<Event> rEvents = new List<Event>();
    rEvents = (List<Event>)ViewBag.runningEvents;

    List<Event> uEvents = new List<Event>();
    uEvents = (List<Event>)ViewBag.upComingEvents;

}


<div class="text-center">
    <h1 class="display-4">Welcome to New Vision Event / Scheduler</h1><hr />
    
</div>
<div class="row">
    <div class="col-md-12 text-md-center alert-info">
        <h4>Events Summery</h4>
    </div>
    <table class="table table-secondary">
        <tr>
            <td class="font-weight-bold alert">Running Events (@rEvents.Count)</td>
            @if (rEvents.Count > 0)
            {
                <td class="font-italic">
                    @{int i = 1;}
                    @foreach (Event item in ViewBag.runningEvents)
                    {

                        <p>@i. @item.Title (@item.Location.Name)</p>
                        i++;
                    }
                </td>
            }
            else
            {
                <td class="text-danger">There have no running events now! <a asp-action="Create" asp-controller="Events" class="btn btn-sm btn-info">Create</a></td>
            }
        </tr>
        <tr>
            <td class="font-weight-bold alert">Upcoming Events (@uEvents.Count)</td>
            @if (uEvents.Count>0)
            {
                <td class="font-italic">
                    @{int i = 1;}
                    @foreach (Event item in ViewBag.upComingEvents)
                    {
                        <p>@i. @item.Title (@item.Location.Name)</p>
                        i++;
                    }
                </td>
            }
            else
            {
                <td class="text-danger">There have no upcoming events! <a asp-action="Create" asp-controller="Events" class="btn btn-sm btn-info" >Create</a></td>
            }
        </tr>
    </table>
</div>